.gradle
/build/
build/
!gradle/wrapper/gradle-wrapper.jar
all.log
/buildSrc/build/
logs/
classes/
target/
out/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr